################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreMVC/.vs/CoreMVC
/CoreMVC/obj
/CoreMVC/bin/Debug/net6.0
